<p class="display-3 fw-bold text-center mb-5">Skills</p>

<div class="container">
    <div class="row g-2">
        <!-- Row 1 -->
        <div class="col-3">
            <div class="bg-white h-100 shadow-sm border p-3 rounded d-flex flex-column align-items-center justify-content-center">
                <div class="skill_icon_div d-flex flex-column align-items-center justify-content-center">
                    <img class="skill_icon" src="https://riddhesh-mahajan-dev.s3.eu-west-3.amazonaws.com/icons/rails/rails-plain-wordmark.svg" alt="ruby on rails icon">
                </div>
                <p class="fs-5 text-center">Rails</p>
            </div>
        </div>

        <div class="col-3">
            <div class="h-100 bg-white shadow-sm border p-3 rounded d-flex flex-column align-items-center justify-content-center">
                <div class="skill_icon_div d-flex flex-column align-items-center justify-content-center">
                    <img class="skill_icon_sm" src="https://riddhesh-mahajan-dev.s3.eu-west-3.amazonaws.com/icons/react/react-original.svg" alt="react icon">
                </div>
                <p class="fs-5 text-center">React</p>
            </div>
        </div>

        <div class="col-3">
            <div class="bg-white h-100 shadow-sm border p-3 rounded d-flex flex-column align-items-center justify-content-center">
                <div class="skill_icon_div d-flex flex-column align-items-center justify-content-center">
                    <img class="skill_icon" src="https://riddhesh-mahajan-dev.s3.eu-west-3.amazonaws.com/icons/django/django-line.svg" alt="django icon">
                </div>
                <p class="fs-5 text-center">Django</p>
            </div>
        </div>

        <div class="col-3">
            <div class="bg-white h-100 shadow-sm border p-3 rounded d-flex flex-column align-items-center justify-content-center">
                <div class="skill_icon_div d-flex flex-column align-items-center justify-content-center">
                    <img class="skill_icon_sm" src="https://riddhesh-mahajan-dev.s3.eu-west-3.amazonaws.com/icons/android/android-original-wordmark.svg" alt="android icon">
                </div>
                <p class="fs-5 text-center">Android</p>
            </div>
        </div>
        
        <!-- Row 2 -->
        <div class="col-3">
            <div class="bg-white h-100 shadow-sm border p-3 rounded d-flex flex-column align-items-center justify-content-center">
                <div class="skill_icon_div d-flex flex-column align-items-center justify-content-center">
                    <img class="skill_icon" src="https://riddhesh-mahajan-dev.s3.eu-west-3.amazonaws.com/icons/mysql/mysql-plain.svg" alt="MySQL icon">
                </div>
                <p class="fs-5 text-center">MySQL</p>
            </div>
        </div>

        <div class="col-3">
            <div class="h-100 bg-white shadow-sm border p-3 rounded d-flex flex-column align-items-center justify-content-center">
                <div class="skill_icon_div d-flex flex-column align-items-center justify-content-center">
                    <img class="skill_icon_sm" src="https://riddhesh-mahajan-dev.s3.eu-west-3.amazonaws.com/icons/postgresql/postgresql-plain.svg" alt="PostgreSQL icon">
                </div>
                <p class="fs-5 text-center">PostgreSQL</p>
            </div>
        </div>

        <div class="col-3">
            <div class="bg-white h-100 shadow-sm border p-3 rounded d-flex flex-column align-items-center justify-content-center">
                <div class="skill_icon_div d-flex flex-column align-items-center justify-content-center">
                    <img class="skill_icon" src="https://riddhesh-mahajan-dev.s3.eu-west-3.amazonaws.com/icons/amazonwebservices/amazonwebservices-plain-wordmark.svg" alt="AWS icon">
                </div>
                <p class="fs-5 text-center">AWS</p>
            </div>
        </div>

        <div class="col-3">
            <div class="bg-white h-100 shadow-sm border p-3 rounded d-flex flex-column align-items-center justify-content-center">
                <div class="skill_icon_div d-flex flex-column align-items-center justify-content-center">
                    <img class="skill_icon_sm" src="https://riddhesh-mahajan-dev.s3.eu-west-3.amazonaws.com/icons/unity/unity-original.svg" alt="Unity icon">
                </div>
                <p class="fs-5 text-center">Unity</p>
            </div>
        </div>
    </div>
</div>