<p class="display-3 fw-bold text-center mb-4 mt-5">Resume</p>

<a target="_blank" href="https://riddhesh-mahajan-dev.s3.eu-west-3.amazonaws.com/Resume/Riddhesh+Mahajan+Resume.pdf">
    <button class="btn btn-primary btn-lg col-12">Download resume</button>
</a>

<div class="shadow-sm border mt-3">
    <img src="https://riddhesh-mahajan-dev.s3.eu-west-3.amazonaws.com/Resume/Riddhesh+Mahajan+Resume+Image.png" alt="" style="max-width: 100%;">
</div>
    


