<p class="display-3 fw-bold text-center mb-4 mt-5">Work</p>

<div>
    <div class="col-12 border rounded p-4 bg-white shadow-sm mb-3">
        <p class="fs-4">CTO at Agitrack</p>
        <p><span class="fw-bold">What is Agitrack?</span><br> <span>Agitrack's work management platform gives your team, collaborative environment, full visibility, and control over all your work. Multiple teams can work in a collaborative environment and achieve their goals in time. It provides scrum and kanban boards along with advanced reports for teams, to visualize their tasks and manage their workflow efficiently.</span></p>
        <p><span class="fw-bold">My role</span><br> We were a team of 6 passionate individuals trying to build a work management platform. I was responsible for -
            <ol>
                <li>building new features using Django, Angular, and MySQL</li>
                <li>Managing AWS to keep the website live for customers.</li>
            </ol>
        </p>

        <a href="https://agitrack.com/" target="_blank">
            <button class="btn btn-primary">Visit website</button>
        </a>
        
    </div>

    <div class="col-12 border rounded p-4 bg-white shadow-sm mb-3">
        <p class="fs-4">Intern at Connect My Match <span class="fs-6 text-secondary">From 11 Jan, 2019 to 10 March 2019</span> </p>
        <p><span class="fw-bold">My role</span><br> 
            I was responsible for developing features in a dating app.
        </p>

        <a href="https://drive.google.com/file/d/150OyQlCGq4y0r0ciC1v4gcLcR1ddXvwi/view?usp=sharing" target="_blank">
            <button class="btn btn-primary">Certificate of selection</button>
        </a>

        <a href="https://drive.google.com/file/d/1GGjE2l59Jmjncktu3JAM3Bm1NDgUAcNz/view?usp=sharing" target="_blank">
            <button class="btn btn-primary">Certificate of completion</button>
        </a>
    </div>

    <div class="col-12 border rounded p-4 bg-white shadow-sm">
        <p class="fs-4">Intern at Crimson Insights Technologies LLP <span class="fs-6 text-secondary">From 26 Sept, 2018 to 26 Oct 2018</span> </p>
        <p><span class="fw-bold">My role</span><br> 
            I was responsible for developing features in an e-commerce website and Android App
        </p>

        <a href="https://drive.google.com/file/d/11rC-2tYu8n9RIv1zbxeKUOCHs__Qx0Ew/view?usp=sharing" target="_blank">
            <button class="btn btn-primary">Certificate of selection</button>
        </a>

        <a href="https://drive.google.com/file/d/1CH0ZAZr3CHyzzHcYIKfywT224RlYoL9F/view?usp=sharing" target="_blank">
            <button class="btn btn-primary">Certificate of completion</button>
        </a>
    </div>
</div>