<div class="container">
    <p class="display-4 pb-3">Certificates</p>
    
    <div class="row">

        <div class="col-4">
            <!-- AWS -->
            <div class="card">
                <div class="bg-light d-flex justify-content-center">
                    <img class="skill_icon" src="https://img.utdstc.com/icon/ff0/a5e/ff0a5ec61bc652cce9761f4e68089610662e76fcfea8c84fa813e10d3a9ed3d7:200" class="card-img-top">
                </div>
                
                <div class="card-body">
                    <h5 class="card-title">AWS Certified Solutions Architect - Associate 2020</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://riddhesh-mahajan-dev.s3.eu-west-3.amazonaws.com/certificates/Udemy+-+AWS+certified+solutions+architect.pdf" target="_blank" class="btn btn-primary">View</a>
                </div>
            </div>    
        </div>

        <div class="col-4">
            <!-- Deep learning -->
            <div class="card">
                <div class="bg-light d-flex justify-content-center">
                    <img class="skill_icon" src="https://img.utdstc.com/icon/ff0/a5e/ff0a5ec61bc652cce9761f4e68089610662e76fcfea8c84fa813e10d3a9ed3d7:200" class="card-img-top">
                </div>
                
                <div class="card-body">
                    <h5 class="card-title">TensorFlow for Deep Learning with Python</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://riddhesh-mahajan-dev.s3.eu-west-3.amazonaws.com/certificates/Udemy+-+Deep+learning+with+python.pdf" target="_blank" class="btn btn-primary">View</a>
                </div>
            </div>    
        </div>
        
    </div>
    
</div>
