<div class="container">
    <p class="display-3 fw-bold text-center">About</p>
    <p class="fs-4 text-justify">
        My name is Riddhesh Mahajan. I have recently completed my Bachelor of Engineering (BE) in Computer Engineering degree from the University of Mumbai in 2021. I am working as a freelancer from past 3 years. I am a fast learner and I am always up for new challenges and I can adapt to changes quickly. I am interested in Full stack development and I am familiar with technologies such as Ruby on rails, React and Django. 
        Over the last few years, I have developed multiple projects and completed two internships. Keep scrolling to learn more about them!</p>
</div>
