.skill_icon_div{
    max-height: 6rem;
    max-width: 6rem;
    min-height: 6rem;
    min-width: 6rem;
}

.skill_icon{
    max-height: 6rem;
    max-width: 6rem;
    min-height: 6rem;
    min-width: 6rem;
}

.skill_icon_sm{
    max-height: 3.5rem;
    max-width: 3.5rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
}